:root {
  --oxyy--blue: #0d6efd;
  --oxyy--white: #ffffff;
  --oxyy--black: #4c4d4d;
  --oxyy--black2: #252b33;
  --oxyy--red: red;
  --oxxy--font: "Poopins";
  --oxyy-input-color: #656565;
  --oxyy-input-border: #eaeaea;
  --oxyy--red: red;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: var(--oxxy--font);
  line-height: 1;
  font-weight: 400;
}
