.button--prev {
  padding: 10px 5px;
  border-radius: 5px;
  float: left;
  width: 100px;
  margin: 10px 0;
  border: 1px solid var(--oxyy-input-color);
  cursor: pointer;
  font-size: 1.6rem;
}

.button--next {
  padding: 10px 5px;
  border-radius: 5px;
  float: right;
  width: 100px;
  margin: 10px 0;
  border: 1px solid var(--oxyy-input-color);
  cursor: pointer;
  font-size: 1.6rem;
}
